<!doctype html>
<html lang="en">
    <head>
        <link href="{{ url_for('static', filename='libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css')}}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css')}}" rel="stylesheet" />
        <link rel="stylesheet" href="{{ url_for('static', filename='libs/flatpickr/dist/flatpickr.min.css')}}">
        <!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}" />

<!-- darkmode js -->
<script src="{{url_for('static', filename='js/vendors/darkMode.js')}}"></script>

<!-- Libs CSS -->
<link href="{{ url_for('static', filename='fonts/feather/feather.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='libs/bootstrap-icons/font/bootstrap-icons.min.css') }}"  rel="stylesheet" />
<link href="{{ url_for('static', filename='libs/simplebar/dist/simplebar.min.css') }}" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.72/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.72/vfs_fonts.js"></script>

<!-- Theme CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.min.css') }}" >

<!-- font Awesome -->
<script
src="https://kit.fontawesome.com/7966715048.js"
crossorigin="anonymous"
></script>

<style>
    .btn3way{
        /* padding: 0 !important;
        font-size: 11px;
        width: 50px !important;
        height: 30px; */
        /* width: 50px; */
        height: 10px;
        width: 15px;
        appearance: none;
        background-color: #565454;
        border-radius: 50%;
        cursor: pointer;
        opacity: 0;
        cursor: pointer;
    }
    .tri-state-toggle {
    /* display: flex;
    justify-content: center; */
        border: 3px solid rgb(51, 50, 50);
        border-radius: 50px;
        /* font-size: 11px; */
        width: 40px !important;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    .tri-state-toggle  .one {
    opacity: 1;
    background-color: green;
    }
    .tri-state-toggle  .two {
    /* opacity: 1; */
    background-color: orange;
    }
    .tri-state-toggle  .three {
    /* opacity: 1; */
    background-color: red;
    }



</style>

        <title>TrafficWardenX: OpenWRT Security & Monitoring</title>
    </head>

    <body>
        <!-- Wrapper -->
        <main>
            <!-- navbar vertical -->

            <!-- Page Content -->

            <!-- navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container px-0">
        <a class="navbar-brand fw-bold" href="">TrafficWardenX</a>


        <div class="ms-auto d-flex align-items-center">
            <div class="dropdown me-2">
                <button class="btn btn-light btn-icon rounded-circle d-flex align-items-center" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
                    <i class="bi theme-icon-active"></i>
                    <span class="visually-hidden bs-theme-text">Toggle theme</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bs-theme-text">
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                            <i class="bi theme-icon bi-sun-fill"></i>
                            <span class="ms-2">Light</span>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                            <i class="bi theme-icon bi-moon-stars-fill"></i>
                            <span class="ms-2">Dark</span>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                            <i class="bi theme-icon bi-circle-half"></i>
                            <span class="ms-2">Auto</span>
                        </button>
                    </li>
                </ul>
                
            </div>
            <ul class="navbar-nav navbar-right-wrap d-flex nav-top-wrap ms-2">
                <!-- List -->
                <li class="dropdown ms-2">
                    <a class="rounded-circle" href="#" role="button" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="avatar avatar-md avatar-indicators avatar-online avatar-warning">
                            <!-- <span class="avatar avatar-md avatar-primary"> -->
                                <span class="avatar-initials rounded-circle">GK</span>
                              <!-- </span> -->
                        </div>
                    </a>

                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
                        <div class="dropdown-item">
                            <div class="d-flex">
                                <div class="ms-3 lh-1">
                                    <h5 class="mb-1">Annette Black</h5>
                                    <p class="mb-0">annette@abc.com</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="dropdown-divider"></div>
                        <ul class="list-unstyled">
                            <li>
                                <a class="dropdown-item" href="">
                                    <i class="fe fe-power me-2"></i>
                                    Sign Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Button -->
        <button
            class="navbar-toggler collapsed ms-2"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-default"
            aria-controls="navbar-default"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="icon-bar top-bar mt-0"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>
    </div>
</nav>



            <section class="my-6">
                <!-- Container  -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="border-bottom pb-4 mb-4 d-lg-flex justify-content-between align-items-center">
                                <div class="mb-3 mb-lg-0">
                                    <h1 class="mb-0 h2 fw-bold">Dashboard</h1>

                                </div>
                                <div class="d-flex">
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupVerticalDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Filter  
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                          <a class="dropdown-item" href="/?id=120">Last 24 hours</a>
                                          <a class="dropdown-item" href="/?id=180">Last 7 days</a>
                                          <a class="dropdown-item" href="/?id=240">Last 30 days</a>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-8 col-lg-12 col-md-12 col-12 pb-4 mb-4">
                                <!-- card -->
                                <div class="card h-100  ">
                                    <!-- card header -->
                                        <div class="d-flex card-header row">
                                            <div class="col-lg-6 col-md-8 col-8 ">
                                                <h4 class="mb-0">Users by Country</h4>
                                            </div>
                                            
                                            <div class="col-lg-6 col-md-4 col-4  " style="text-align: end;" role="group">
                                                <button id="btnGroupVerticalDrop1" type="button" class="btn btn-outline-primary dropdown-toggle w-50" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                style="width: 300px;">
                                                  Countries  
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="btnGroupVerticalDrop1" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left:100px; transform: translate3d(140px, 38px, 30px) !important; height: 200px; overflow-y: scroll; overflow-x: hidden; width: 210px; left: auto; right: 30px;">
                                                  <div class="row ">
                                                    <div class="col-7"><a class="dropdown-item">India</a></div>  
                                                    <div class="col-5 btn-group text-right " role="group" aria-label="Basic mixed styles example">
                                                    <div class="tri-state-toggle btnway">
                                                        <input class="button btn3way one" type="radio" name="toggle" title="Allow" id="one" />
                                                        <input class="button btn3way two " type="radio" name="toggle"  title="Alert" id="two" />
                                                        <input class="button  btn3way three" type="radio" name="toggle" title="Block" id="three" />
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="row ">
                                                    <div class="col-7"><a class="dropdown-item">Brazil</a></div>  
                                                    <div class="col-5 btn-group text-right " role="group" aria-label="Basic mixed styles example">
                                                    <div class="tri-state-toggle btnway">
                                                        <input class="button btn3way one" type="radio" name="toggle" title="Allow" id="one" />
                                                        <input class="button btn3way two " type="radio" name="toggle"  title="Alert" id="two" />
                                                        <input class="button  btn3way three" type="radio" name="toggle" title="Block" id="three" />
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="row ">
                                                    <div class="col-7"><a class="dropdown-item">China</a></div>  
                                                    <div class="col-5 btn-group text-right " role="group" aria-label="Basic mixed styles example">
                                                    <div class="tri-state-toggle btnway">
                                                        <input class="button btn3way one" type="radio" name="toggle" title="Allow" id="one" style="opacity: 0 ;" />
                                                        <input class="button btn3way two " type="radio" name="toggle"  title="Alert" id="two" style="opacity: 0 ;" />
                                                        <input class="button  btn3way three " type="radio" name="toggle" title="Block" id="three" style="opacity: 1;" />
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="row ">
                                                    <div class="col-7"><a class="dropdown-item">Russia</a></div>  
                                                    <div class="col-5 btn-group text-right " role="group" aria-label="Basic mixed styles example">
                                                    <div class="tri-state-toggle btnway">
                                                        <input class="button btn3way one" type="radio" name="toggle" title="Allow" id="one" style="opacity: 0 ;" />
                                                        <input class="button btn3way two " type="radio" name="toggle"  title="Alert" id="two" style="opacity: 1;" />
                                                        <input class="button  btn3way three " type="radio" name="toggle" title="Block" id="three" style="opacity: 0 ;" />
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="row ">
                                                    <div class="col-7"><a class="dropdown-item">United States</a></div>  
                                                    <div class="col-5 btn-group text-right " role="group" aria-label="Basic mixed styles example">
                                                    <div class="tri-state-toggle btnway">
                                                        <input class="button btn3way one" type="radio" name="toggle" title="Allow" id="one" />
                                                        <input class="button btn3way two " type="radio" name="toggle"  title="Alert" id="two" />
                                                        <input class="button  btn3way three" type="radio" name="toggle" title="Block" id="three" />
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="row ">
                                                    <div class="col-7"><a class="dropdown-item">Canada</a></div>  
                                                    <div class="col-5 btn-group text-right " role="group" aria-label="Basic mixed styles example">
                                                    <div class="tri-state-toggle btnway">
                                                        <input class="button btn3way one" type="radio" name="toggle" title="Allow" id="one" />
                                                        <input class="button btn3way two " type="radio" name="toggle"  title="Alert" id="two" />
                                                        <input class="button  btn3way three" type="radio" name="toggle" title="Block" id="three" />
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="row ">
                                                    <div class="col-7"><a class="dropdown-item">Japan</a></div>  
                                                    <div class="col-5 btn-group text-right " role="group" aria-label="Basic mixed styles example">
                                                    <div class="tri-state-toggle btnway">
                                                        <input class="button btn3way one" type="radio" name="toggle" title="Allow" id="one" />
                                                        <input class="button btn3way two " type="radio" name="toggle"  title="Alert" id="two" />
                                                        <input class="button  btn3way three" type="radio" name="toggle" title="Block" id="three" />
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="row ">
                                                    <div class="col-7"><a class="dropdown-item">Germany</a></div>  
                                                    <div class="col-5 btn-group text-right " role="group" aria-label="Basic mixed styles example">
                                                    <div class="tri-state-toggle btnway">
                                                        <input class="button btn3way one" type="radio" name="toggle" title="Allow" id="one" />
                                                        <input class="button btn3way two " type="radio" name="toggle"  title="Alert" id="two" />
                                                        <input class="button  btn3way three" type="radio" name="toggle" title="Block" id="three" />
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="row ">
                                                    <div class="col-7"><a class="dropdown-item">France</a></div>  
                                                    <div class="col-5 btn-group text-right " role="group" aria-label="Basic mixed styles example">
                                                    <div class="tri-state-toggle btnway">
                                                        <input class="button btn3way one" type="radio" name="toggle" title="Allow" id="one" />
                                                        <input class="button btn3way two " type="radio" name="toggle"  title="Alert" id="two" />
                                                        <input class="button  btn3way three" type="radio" name="toggle" title="Block" id="three" />
                                                      </div>
                                                    </div>
                                                  </div>

                                                </div>
                                              </div>
                                              <div class="card-body">
                                                <!-- map -->
                                                <div id="locationmap" style="width: 100%; height: 300px"></div>
                                                <!-- <table class="table table-sm table-borderless mt-3 mb-0">
                                                    <tbody>
                                                        <tr>
                                                            <td>United States</td>
                                                            <td>22,120</td>
                                                            <td>34.54%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>India</td>
                                                            <td>12,756</td>
                                                            <td>22.43%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>United Kingdom</td>
                                                            <td>8,864</td>
                                                            <td>34.54%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Sweden</td>
                                                            <td>6,749</td>
                                                            <td>5.29%</td>
                                                        </tr>
                                                    </tbody>
                                                </table> -->
                                            </div>
                                        </div>
                                    <!-- card body -->
                                    
                                </div>
                        </div>
                        <div class="col-xl-4 col-lg-12 col-md-12 col-12">
                            
                            <!-- Card -->
                            <div class="card mb-4">
                                <!-- Card header -->
                                <div class="card-header align-items-center card-header-height d-flex justify-content-between align-items-center">
                                    <div>
                                        <h4 class="mb-0">Traffic</h4>
                                    </div>
                                    <div>
                                        <div class="dropdown dropstart">
                                            <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="courseDropdown2" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fe fe-more-vertical"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="courseDropdown2">
                                                <span class="dropdown-header">Settings</span>
                                                <a class="dropdown-item" href="#">
                                                    <i class="fe fe-external-link dropdown-item-icon"></i>
                                                    Export
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    <i class="fe fe-mail dropdown-item-icon"></i>
                                                    Email Report
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    <i class="fe fe-download dropdown-item-icon"></i>
                                                    Download
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card body -->
                                <div class="card-body">
                                    <div id="traffic" class="apex-charts d-flex justify-content-center"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- basic table -->
                        <div class="col-md-12 col-12 mb-5">
                          <div class="card">
                            <!-- card header  -->
                            <div class="card-header d-flex justify-content-between">
                              <h4 class="mb-1">Threat Analysis</h4>
                              <!-- <button class="btn btn-primary " onclick="exportTableToCSV()">Export</button> -->
                              <div class="btn-group" role="group">
                                <button id="btnGroupVerticalDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Export 
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                  <a class="dropdown-item" onclick="exportTableToCSV()">Export as CSV</a>
                                  <a class="dropdown-item" onclick="exportToPdf()">Export as PDF</a>
                                </div>
                              </div>
                            </div>
                            <!-- table  -->
                            <div class="card-body">
                              <div class="table-card">
                                <table id="dataTableBasic" class="table table-hover" style="width: 100%">
                                  <thead class="table-light">
                                    <tr>
                                      <th>Sender IP</th>
                                      <th>Destination IP</th>
                                      <th>Country</th>
                                      <th>Port</th>
                                      <th>Protocol</th>
                                      <th>Data Transfer</th>
                                      <th>Timestamp</th>
                                      <th>Status</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for row in traffic_data_list %}
                                    
                                    <tr {% if row.flag != 'Allowed' %} class="bg-light" {% endif %}>
                                        <td>{{ row.sender_ip }}</td>
                                        <td>{{ row.destination_ip }}</td>
                                        <td>{{ row.country }}</td>
                                        <td>{{ row.port }}</td>
                                        <td>{{ row.application_protocol }}</td>
                                        <td>{{ row.packet_count }}00 MB(s)</td>
                                        <td>{{ row.timestamp }}</td>
                                        <td {% if row.flag == 'Allowed' %} class="text-success"{% else %}{% if row.flag == 'Alert'%}class="text-warning"{%else%}class="text-danger" {% endif %}{%endif%}> {{row.flag}}</td>
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <!-- basic table -->
                        <div class="col-md-12 col-12 mb-5">
                          <div class="card">
                            <!-- card header  -->
                            <div class="card-header d-flex justify-content-between">
                              <h4 class="mb-1">Login Logs </h4>
                              <!-- <button class="btn btn-primary " onclick="exportTableToCSV()">Export</button> -->
                              <div class="btn-group" role="group">
                                <button id="btnGroupVerticalDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Export 
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                  <a class="dropdown-item" onclick="exportTableToCSV()">Export as CSV</a>
                                  <a class="dropdown-item" onclick="exportToPdf()">Export as PDF</a>
                                </div>
                              </div>
                            </div>
                            <!-- table  -->
                            <div class="card-body">
                              <div class="table-card">
                                <table id="dataTableBasic2" class="table table-hover" style="width: 100%">
                                  <thead class="table-light">
                                    <tr>
                                      <th>Login</th>
                                      <th>IP Address</th>
                                      <th>Timestamp</th>
                                      <th>Status</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr >
                                        <td>Luci</td>
                                        <td>192.168.1.15</td>
                                        <td>2024-07-03 14:23:45</td>
                                        <td class="text-success ">Allowed</td>
                                      </tr>
                                      <tr class="bg-light">
                                        <td>SSH</td>
                                        <td>192.168.1.23</td>
                                        <td>2024-07-03 13:52:11</td>
                                        <td  class="text-danger">Blocked</td>
                                      </tr>
                                      <tr>
                                        <td>Luci</td>
                                        <td>192.168.0.12</td>
                                        <td>2024-07-03 13:30:24</td>
                                        <td class="text-success">Allowed</td>
                                      </tr>
                                      <tr>
                                        <td>Luci</td>
                                        <td>192.168.1.2</td>
                                        <td>2024-07-03 12:45:33</td>
                                        <td class="text-success">Allowed</td>
                                      </tr>
                                      <tr>
                                        <td>Luci</td>
                                        <td>192.168.1.7</td>
                                        <td>2024-07-03 12:15:12</td>
                                        <td class="text-success">Allowed</td>
                                      </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card m-10">
                        <div class="card-header">
                            <h4 class="mb-0">Notifications</h4>
                        </div>
                        <div class="card-body">
                            <!-- Validation Form -->
  <form class="row g-3 needs-validation" novalidate>
    <div class="row">
        <div class="col-6">
            <label for="validationCustom01" class="form-label">Email:</label>
            <input type="email" class="form-control" id="validationCustom01" value="john@gmail.com" required>
            <div class="valid-feedback">
            Looks good!
            </div>
            <div class="mt-4">
                <label for="validationCustom03" class="form-label">Telegram:</label>
            <br>
            <button class="btn btn-primary w-100" type="submit">Configure</button>
            </div>
            
        </div>
        <div class="col-6" style="text-align: center;">
            <div class="row">
                <div class="col-4">
                    <label for="validationCustom01" class="form-label">Login</label>
                    <div class="form-check" style="text-align: center;">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            
                        </label>
                        </div>
                        <div class="form-check">
                            <br>
                            <br>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            
                        </label>
                        </div>
                </div>
                <div class="col-4">
                    <label for="validationCustom01" class="form-label">New User</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            
                        </label>
                        </div>
                        <br>
                            <br>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            
                        </label>
                        </div>
                </div>
                <div class="col-4">
                    <label for="validationCustom01" class="form-label">Access Denied</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            
                        </label>
                        </div>
                        <div class="form-check">
                            <br>
                            <br>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            
                        </label>
                        </div>
                </div>
            </div>
        </div>
    </div>
</form>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- Scripts -->
        <!-- Libs JS -->
<script src="{{ url_for('static', filename='libs/@popperjs/core/dist/umd/popper.min.js')}}"></script>
<script src="{{url_for('static',filename='libs/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='libs/simplebar/dist/simplebar.min.js')}}"></script>

<!-- Theme JS -->
<script src="{{ url_for('static', filename='js/theme.min.js')}}"></script>
        
<script src="{{ url_for('static',filename='libs/jsvectormap/dist/js/jsvectormap.min.js')}}"></script>
<script src="{{ url_for('static',filename='libs/jsvectormap/dist/maps/world.js')}}"></script>

<script src="{{url_for('static', filename='libs/apexcharts/dist/apexcharts.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/vendors/chart.js')}}"></script>
        <script src="{{ url_for('static' , filename='libs/flatpickr/dist/flatpickr.min.js')}}"></script>
        <script src="{{ url_for('static' , filename='js/vendors/flatpickr.js')}}"></script>


        
    <script src="{{url_for('static',filename='js/vendors/jquery.min.js')}}"></script>
        <script src="{{ url_for('static', filename='libs/datatables.net/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ url_for('static', filename='libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js') }}"></script>
        <script src="{{ url_for('static', filename='libs/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
        <script src="{{ url_for('static', filename='libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js') }}"></script>
        <script src="{{ url_for('static', filename='libs/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
        <script src="{{ url_for('static', filename='libs/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js') }}"></script>
        <script src="{{ url_for('static', filename='libs/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
        <script src="{{ url_for('static', filename='libs/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
        <script src="{{ url_for('static', filename='libs/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
        <script src="{{ url_for('static', filename='libs/pdfmake/build/pdfmake.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendors/datatables.js') }}"></script>
        

        <script>
            document.addEventListener('DOMContentLoaded', function () {

                    // var btn= buttons.getElementsByClassName("btn3way");

                    // var arr = [...btn];
                    //     arr.forEach((element, index) => {
                    //     element.addEventListener("click", () => {

                    //         element.style.opacity = "1";
                    //         if (index == 0) {
                    //             arr[1].style.opacity = "0";
                    //             arr[2].style.opacity = "0";
                    //             element.style.backgroundColor = "green";
                    //         } else if (index == 1) {
                    //             arr[0].style.opacity = "0";
                    //             arr[2].style.opacity = "0";
                                
                    //             // document.getElementById("two").style.backgroundColor = "orange";
                    //             element.style.backgroundColor = "orange";
                    //         } else {
                    //             arr[0].style.opacity = "0";
                    //             arr[1].style.opacity = "0";
                                
                    //             document.getElementById("three").style.backgroundColor = "red";
                    //             element.style.backgroundColor = "red";
                    //         }

                    //         // arr
                    //         // .filter(function (item) {
                    //         //     return item != element;
                    //         // })
                    //         // .forEach((item) => {
                    //         //     item.style.opacity = "0";
                    //         // });
                    //     });
                    //     });

                var btnWay= document.querySelectorAll(".btnway");
                btnWay.forEach(group => {
  var buttons = group.getElementsByClassName('btn3way');
  var arr = [...buttons];
  
  arr.forEach((element, index) => {
    element.addEventListener('click', () => {
      element.style.opacity = '1';
      
      if (index === 0) {
        arr[1].style.opacity = '0';
        arr[2].style.opacity = '0';
        element.style.backgroundColor = 'green';
      } else if (index === 1) {
        arr[0].style.opacity = '0';
        arr[2].style.opacity = '0';
        element.style.backgroundColor = 'orange';
      } else {
        arr[0].style.opacity = '0';
        arr[1].style.opacity = '0';
        element.style.backgroundColor = 'red';
      }
    });
  });
});

                var countryCount = {{country_ip_dict | safe}};
                var countryCoords = {{country_code | safe}};
                //console.log("Hello",countryCount);

                var countryData = {};
                
                               
                // Function to process all countries
                function processCountries() {
                    var array = [];
                    for (var country in countryCount) {
                        if (countryCount.hasOwnProperty(country)) {
                            countryData[country] = { 
                                name: country, 
                                count: countryCount[country] 
                            };
                            // Update countryData2 with the coordinates
                            const countryData2 = { 
                                name: country, 
                                coords: countryCoords[country],
                                code: country 
                            };
                            // Check if coords is not undefined
                            if (countryData2.coords !== undefined ) {
                                array.push(countryData2)
                            }
                        }
                    }
                    return array;
                }

                // Start processing countries
                var marker = [];
                console.log(marker[0]);
                marker = processCountries();
                console.log(marker)
                marker.push({name: 'Russia', coords: [61.5240, 105.3188], code: 'Russia'});
                marker.push({name: 'China', coords: [35.8617, 104.1954], code: 'China'});
                document.getElementById("locationmap") &&
                    new jsVectorMap({
                        map: "world",
                        selector: "#locationmap",
                        zoomOnScroll: true,
                        zoomButtons: true,
                        markersSelectable: false,
                        markers: marker,
                        markerStyle: { initial: { fill: window.theme.primary } },
                        markerLabelStyle: {
                            initial: {
                                fontFamily: "Inter",
                                fontSize: 13,
                                fontWeight: 500,
                                cursor: "default",
                                fill: window.theme.dark
                            },
                        },
                        labels: {
                            markers: {
                                render: function (marker) {
                                    var data = countryData[marker.code];
                                    return data ? `${data.name}: ${data.count}` : marker.name;
                                },
                                onclick: function(){
                                    alert('clicked');
                                }
                            },
                        },
                    });
            });


            // export table data to pdf 
    function exportTableToCSV() {
        var filename= "Threat_Analysis"
        var csv = [];
        var table= document.getElementById("dataTableBasic")
        var rows = table.querySelectorAll("tr");
        
        for (var i = 0; i < rows.length; i++) {
            var row = [], cols = rows[i].querySelectorAll("td, th");
            
            for (var j = 0; j < cols.length; j++)
                row.push(cols[j].innerText);
            
            csv.push(row.join(","));        
        }

        // Create a CSV file and download it
        var csvFile = new Blob([csv.join("\n")], { type: "text/csv" });
        var downloadLink = document.createElement("a");
        downloadLink.download = filename;
        downloadLink.href = window.URL.createObjectURL(csvFile);
        downloadLink.style.display = "none";
        document.body.appendChild(downloadLink);
        downloadLink.click();
    }

    function exportToPdf() {
        var table = document.getElementById("dataTableBasic");
        var rows = table.querySelectorAll("tr");
        var bodyData = [];

        for (var i = 0; i < rows.length; i++) {
            var row = [];
            var cols = rows[i].querySelectorAll("td, th");
            for (var j = 0; j < cols.length; j++) {
                row.push({ text: cols[j].innerText, style: 'tableData' });
            }
            bodyData.push(row);
        }

        var docDefinition = {
            content: [
                { text: 'Threat Analysis', style: 'header' },
                {
                    table: {
                        headerRows: 1,
                        body: bodyData
                    }
                }
            ],
            styles: {
                header: {
                    fontSize: 18,
                    bold: true,
                    margin: [0, 0, 0, 10]
                },
                tableData: {
                    margin: [0, 5, 0, 5]
                }
            },
            defaultStyle: {
                font: 'Roboto'
            }
        };

        // Load the fonts
        pdfMake.createPdf(docDefinition).download('threat_analysis.pdf');
    }

    document.getElementById("traffic") &&
    ((e = {
      dataLabels: { enabled: !1 },
      series: [23456, 19874, 28765, 17643, 31245, 24321, 21987, 30123, 27854],
      labels: ['00:15:5d:e7:54:6b','02:0f:b5:53:dc:8c','9c:d9:17:8e:b1:71','3c:97:0e:4b:71:c0','50:2e:5c:8d:7e:a3','68:7f:74:32:9c:45','80:fa:5b:1d:4a:12','a4:b1:e9:6f:22:0d','d0:ae:ec:54:7f:68'],
      colors: [
        window.theme.secondary,
        window.theme.primary,
        window.theme.success,
        window.theme.danger,
        window.theme.warning,
        window.theme.info,
        window.theme.dark,
        window.theme.lightPrimary,
        window.theme.darkInfo,
      ],
      chart: { width: 392, type: "donut" },
      plotOptions: { pie: { expandOnClick: !1, donut: { size: "78%" } } },
      legend: {
        labels: { colors: [window.theme.gray500], useSeriesColors: !1 },
        position: "bottom",
        fontFamily: "inter",
        fontWeight: 500,
        fontSize: "14px",
        markers: {
          width: 8,
          height: 8,
          strokeWidth: 0,
          strokeColor: window.theme.white,
          fillColors: void 0,
          radius: 12,
          customHTML: void 0,
          onClick: void 0,
          offsetX: 0,
          offsetY: 0,
        },
        itemMargin: { horizontal: 8, vertical: 0 },
      },
      tooltip: { 
        theme: "light", 
        marker: { show: !0 }, 
        x: { show: !1 },
        
      },
      states: { hover: { filter: { type: "none" } } },
      stroke: { show: !0, colors: [window.theme.transparent] },
    }),
    new ApexCharts(document.querySelector("#traffic"), e).render());
    

        </script>
        
    </body>
</html>
