<!doctype html>
<html lang="en">
    <head>
        <link href="{{ url_for('static', filename='libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css')}}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css')}}" rel="stylesheet" />
        <link rel="stylesheet" href="{{ url_for('static', filename='libs/flatpickr/dist/flatpickr.min.css')}}">
        <!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}" />

<!-- darkmode js -->
<script src="{{url_for('static', filename='js/vendors/darkMode.js')}}"></script>

<!-- Libs CSS -->
<link href="{{ url_for('static', filename='fonts/feather/feather.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='libs/bootstrap-icons/font/bootstrap-icons.min.css') }}"  rel="stylesheet" />
<link href="{{ url_for('static', filename='libs/simplebar/dist/simplebar.min.css') }}" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.72/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.72/vfs_fonts.js"></script>

<!-- Theme CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.min.css') }}" >

        <title>TrafficWardenX: OpenWRT Security & Monitoring</title>
    </head>

    <body>
        <!-- Wrapper -->
        <main>
            <!-- navbar vertical -->

            <!-- Page Content -->

            <!-- navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container px-0">
        <a class="navbar-brand fw-bold" href="">TrafficWardenX</a>


        <div class="ms-auto d-flex align-items-center">
            <div class="dropdown me-2">
                <button class="btn btn-light btn-icon rounded-circle d-flex align-items-center" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
                    <i class="bi theme-icon-active"></i>
                    <span class="visually-hidden bs-theme-text">Toggle theme</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bs-theme-text">
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                            <i class="bi theme-icon bi-sun-fill"></i>
                            <span class="ms-2">Light</span>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                            <i class="bi theme-icon bi-moon-stars-fill"></i>
                            <span class="ms-2">Dark</span>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                            <i class="bi theme-icon bi-circle-half"></i>
                            <span class="ms-2">Auto</span>
                        </button>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav navbar-right-wrap d-flex nav-top-wrap ms-2">
                <li class="dropdown stopevent">
                    <a
                        class="btn btn-light btn-icon rounded-circle indicator indicator-primary"
                        href="#"
                        role="button"
                        id="dropdownNotification"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fe fe-bell"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg" aria-labelledby="dropdownNotification">
                        <div>
                            <div class="border-bottom px-3 pb-3 d-flex justify-content-between align-items-center">
                                <span class="h4 mb-0">Notifications</span>
                                <a href="# ">
                                    <span class="align-middle">
                                        <i class="fe fe-settings me-1"></i>
                                    </span>
                                </a>
                            </div>
                            <!-- List group -->
                            <ul class="list-group list-group-flush" style="height: 300px" data-simplebar>
                                <li class="list-group-item bg-light">
                                    <div class="row">
                                        <div class="col">
                                            <a class="text-body" href="#">
                                                <div class="d-flex">
                                                    <img src="../../../assets/images/avatar/avatar-1.jpg" alt="" class="avatar-md rounded-circle" />
                                                    <div class="ms-3">
                                                        <h5 class="fw-bold mb-1">Kristin Watson:</h5>
                                                        <p class="mb-3 text-body">Krisitn Watsan like your comment on course Javascript Introduction!</p>
                                                        <span class="fs-6">
                                                            <span>
                                                                <span class="fe fe-thumbs-up text-success me-1"></span>
                                                                2 hours ago,
                                                            </span>
                                                            <span class="ms-1">2:19 PM</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-auto text-center me-2">
                                            <a href="#" class="badge-dot bg-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Mark as read"></a>
                                            <div>
                                                <a href="#" class="bg-transparent" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove">
                                                    <i class="fe fe-x"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                            <a class="text-body" href="#">
                                                <div class="d-flex">
                                                    <img src="../../../assets/images/avatar/avatar-2.jpg" alt="" class="avatar-md rounded-circle" />
                                                    <div class="ms-3">
                                                        <h5 class="fw-bold mb-1">Brooklyn Simmons</h5>
                                                        <p class="mb-3 text-body">Just launched a new Courses React for Beginner.</p>
                                                        <span class="fs-6">
                                                            <span>
                                                                <span class="fe fe-thumbs-up text-success me-1"></span>
                                                                Oct 9,
                                                            </span>
                                                            <span class="ms-1">1:20 PM</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-auto text-center me-2">
                                            <a href="#" class="badge-dot bg-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Mark as unread"></a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                            <a class="text-body" href="#">
                                                <div class="d-flex">
                                                    <img src="../../../assets/images/avatar/avatar-3.jpg" alt="" class="avatar-md rounded-circle" />
                                                    <div class="ms-3">
                                                        <h5 class="fw-bold mb-1">Jenny Wilson</h5>
                                                        <p class="mb-3 text-body">Krisitn Watsan like your comment on course Javascript Introduction!</p>
                                                        <span class="fs-6">
                                                            <span>
                                                                <span class="fe fe-thumbs-up text-info me-1"></span>
                                                                Oct 9,
                                                            </span>
                                                            <span class="ms-1">1:56 PM</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-auto text-center me-2">
                                            <a href="#" class="badge-dot bg-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Mark as unread"></a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                            <a class="text-body" href="#">
                                                <div class="d-flex">
                                                    <img src="../../../assets/images/avatar/avatar-4.jpg" alt="" class="avatar-md rounded-circle" />
                                                    <div class="ms-3">
                                                        <h5 class="fw-bold mb-1">Sina Ray</h5>
                                                        <p class="mb-3 text-body">You earn new certificate for complete the Javascript Beginner course.</p>
                                                        <span class="fs-6">
                                                            <span>
                                                                <span class="fe fe-award text-warning me-1"></span>
                                                                Oct 9,
                                                            </span>
                                                            <span class="ms-1">1:56 PM</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-auto text-center me-2">
                                            <a href="#" class="badge-dot bg-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Mark as unread"></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="border-top px-3 pt-3 pb-0">
                                <a href="../../../pages/notification-history.html" class="text-link fw-semibold">See all Notifications</a>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- List -->
                <li class="dropdown ms-2">
                    <a class="rounded-circle" href="#" role="button" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="avatar avatar-md avatar-indicators avatar-online avatar-warning">
                            <!-- <span class="avatar avatar-md avatar-primary"> -->
                                <span class="avatar-initials rounded-circle">GK</span>
                              <!-- </span> -->
                        </div>
                    </a>

                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
                        <div class="dropdown-item">
                            <div class="d-flex">
                                <div class="ms-3 lh-1">
                                    <h5 class="mb-1">Annette Black</h5>
                                    <p class="mb-0">annette@abc.com</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="dropdown-divider"></div>
                        <ul class="list-unstyled">
                            <li>
                                <a class="dropdown-item" href="">
                                    <i class="fe fe-power me-2"></i>
                                    Sign Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Button -->
        <button
            class="navbar-toggler collapsed ms-2"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-default"
            aria-controls="navbar-default"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="icon-bar top-bar mt-0"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>
    </div>
</nav>



            <section class="my-6">
                <!-- Container  -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="border-bottom pb-4 mb-4 d-lg-flex justify-content-between align-items-center">
                                <div class="mb-3 mb-lg-0">
                                    <h1 class="mb-0 h2 fw-bold">Dashboard</h1>
                                </div>
                                <div class="d-flex">
                                    <div class="input-group me-3">
                                        <input class="form-control flatpickr" type="text" placeholder="Select Date" aria-describedby="basic-addon2">

                                        <span class="input-group-text" id="basic-addon2"><i class="fe fe-calendar"></i></span>
                                    </div>
                                    <a href="#" class="btn btn-primary">Setting</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12 pb-4 mb-4">
                                <!-- card -->
                                <div class="card h-100  ">
                                    <!-- card header -->
                                    <div class="card-header ">
                                        <h4 class="mb-0">Users by Country</h4>
                                    </div>
                                    <!-- card body -->
                                    <div class="card-body">
                                        <!-- map -->
                                        <div id="locationmap" style="width: 100%; height: 250px"></div>
                                        <table class="table table-sm table-borderless mt-3 mb-0">
                                            <tbody>
                                                <tr>
                                                    <td>United States</td>
                                                    <td>22,120</td>
                                                    <td>34.54%</td>
                                                </tr>
                                                <tr>
                                                    <td>India</td>
                                                    <td>12,756</td>
                                                    <td>22.43%</td>
                                                </tr>
                                                <tr>
                                                    <td>United Kingdom</td>
                                                    <td>8,864</td>
                                                    <td>34.54%</td>
                                                </tr>
                                                <tr>
                                                    <td>Sweden</td>
                                                    <td>6,749</td>
                                                    <td>5.29%</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- basic table -->
                        <div class="col-md-12 col-12 mb-5">
                          <div class="card">
                            <!-- card header  -->
                            <div class="card-header d-flex justify-content-between">
                              <h4 class="mb-1">Threat Analysis</h4>
                              <!-- <button class="btn btn-primary " onclick="exportTableToCSV()">Export</button> -->
                              <div class="btn-group" role="group">
                                <button id="btnGroupVerticalDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Export 
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                  <a class="dropdown-item" onclick="exportTableToCSV()">Export as CSV</a>
                                  <a class="dropdown-item" onclick="exportToPdf()">Export as PDF</a>
                                </div>
                              </div>
                            </div>
                            <!-- table  -->
                            <div class="card-body">
                              <div class="table-card">
                                <table id="dataTableBasic" class="table table-hover" style="width: 100%">
                                  <thead class="table-light">
                                    <tr>
                                      <th>Name</th>
                                      <th>Position</th>
                                      <th>Office</th>
                                      <th>Age</th>
                                      <th>Start date</th>
                                      <th>Salary</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Tiger Nixon</td>
                                      <td>System Architect</td>
                                      <td>Edinburgh</td>
                                      <td>61</td>
                                      <td>2011/04/25</td>
                                      <td>$320,800</td>
                                    </tr>
                                    <tr>
                                      <td>Donna Snider</td>
                                      <td>Customer Support</td>
                                      <td>New York</td>
                                      <td>27</td>
                                      <td>2011/01/25</td>
                                      <td>$112,000</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-12 col-md-12 col-12">
                            <!-- Card -->
                            <div class="card mb-4">
                                <!-- Card header -->
                                <div class="card-header align-items-center card-header-height d-flex justify-content-between align-items-center">
                                    <div>
                                        <h4 class="mb-0">Telegram Notifications</h4>
                                    </div>
                                    <div>
                                        <div class="dropdown dropstart">
                                            <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="courseDropdown1" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fe fe-more-vertical"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="courseDropdown1">
                                                <span class="dropdown-header">Settings</span>
                                                <a class="dropdown-item" href="#">
                                                    <i class="fe fe-external-link dropdown-item-icon"></i>
                                                    Export
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    <i class="fe fe-mail dropdown-item-icon"></i>
                                                    Email Report
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    <i class="fe fe-download dropdown-item-icon"></i>
                                                    Download
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card body -->
                                <div class="card-body">
                                    <!-- Earning chart -->
                                    <div id="earning" class="apex-charts"></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-8 col-lg-12 col-md-12 col-12">
                            
                            <!-- Card -->
                            <div class="card mb-4">
                                <!-- Card header -->
                                <div class="card-header align-items-center card-header-height d-flex justify-content-between align-items-center">
                                    <div>
                                        <h4 class="mb-0">Traffic</h4>
                                    </div>
                                    <div>
                                        <div class="dropdown dropstart">
                                            <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="courseDropdown2" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fe fe-more-vertical"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="courseDropdown2">
                                                <span class="dropdown-header">Settings</span>
                                                <a class="dropdown-item" href="#">
                                                    <i class="fe fe-external-link dropdown-item-icon"></i>
                                                    Export
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    <i class="fe fe-mail dropdown-item-icon"></i>
                                                    Email Report
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    <i class="fe fe-download dropdown-item-icon"></i>
                                                    Download
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card body -->
                                <div class="card-body">
                                    <div id="traffic" class="apex-charts d-flex justify-content-center"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- Scripts -->
        <!-- Libs JS -->
<script src="{{ url_for('static', filename='libs/@popperjs/core/dist/umd/popper.min.js')}}"></script>
<script src="{{url_for('static',filename='libs/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='libs/simplebar/dist/simplebar.min.js')}}"></script>

<!-- Theme JS -->
<script src="{{ url_for('static', filename='js/theme.min.js')}}"></script>
        
<script src="{{ url_for('static',filename='libs/jsvectormap/dist/js/jsvectormap.min.js')}}"></script>
<script src="{{ url_for('static',filename='libs/jsvectormap/dist/maps/world.js')}}"></script>

<script src="{{url_for('static', filename='libs/apexcharts/dist/apexcharts.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/vendors/chart.js')}}"></script>
        <script src="{{ url_for('static' , filename='libs/flatpickr/dist/flatpickr.min.js')}}"></script>
        <script src="{{ url_for('static' , filename='js/vendors/flatpickr.js')}}"></script>


        
    <script src="{{url_for('static',filename='js/vendors/jquery.min.js')}}"></script>
        <script src="{{ url_for('static', filename='libs/datatables.net/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ url_for('static', filename='libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js') }}"></script>
        <script src="{{ url_for('static', filename='libs/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
        <script src="{{ url_for('static', filename='libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js') }}"></script>
        <script src="{{ url_for('static', filename='libs/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
        <script src="{{ url_for('static', filename='libs/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js') }}"></script>
        <script src="{{ url_for('static', filename='libs/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
        <script src="{{ url_for('static', filename='libs/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
        <script src="{{ url_for('static', filename='libs/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
        <script src="{{ url_for('static', filename='libs/pdfmake/build/pdfmake.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendors/datatables.js') }}"></script>
        

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var countryData = {
                    "IN": { name: "India", count: 1000 },
                    "US": { name: "United States", count: 2000 },
                    "AU": { name: "Australia", count: 500 }, 
                    "GB": { name: "United Kingdom", count: 750 }
                    // Add more countries and counts as needed
                };
    
                document.getElementById("locationmap") &&
                    new jsVectorMap({
                        map: "world",
                        selector: "#locationmap",
                        zoomOnScroll: true,
                        zoomButtons: true,
                        markersSelectable: true,
                        markers: [
                            { name: "India", coords: [20.7504374, 73.7276105], code: "IN" },
                            { name: "United States", coords: [37.2580397, -104.657039], code: "US" },
                            { name: "Australia", coords: [-25.0304388, 115.2092761], code: "AU" },
                            { name: "United Kingdom", coords: [53.613, -11.6368], code: "GB" }
                        ],
                        markerStyle: { initial: { fill: window.theme.primary } },
                        markerLabelStyle: {
                            initial: {
                                fontFamily: "Inter",
                                fontSize: 13,
                                fontWeight: 500,
                                cursor: "default",
                                fill: window.theme.dark
                            },
                        },
                        labels: {
                            markers: {
                                render: function (marker) {
                                    var data = countryData[marker.code];
                                    return data ? `${data.name}: ${data.count}` : marker.name;
                                }
                            },
                        },
                    });
            });



            // export table data to pdf 
    function exportTableToCSV() {
        var filename= "Threat_Analysis"
        var csv = [];
        var table= document.getElementById("dataTableBasic")
        var rows = table.querySelectorAll("tr");
        
        for (var i = 0; i < rows.length; i++) {
            var row = [], cols = rows[i].querySelectorAll("td, th");
            
            for (var j = 0; j < cols.length; j++)
                row.push(cols[j].innerText);
            
            csv.push(row.join(","));        
        }

        // Create a CSV file and download it
        var csvFile = new Blob([csv.join("\n")], { type: "text/csv" });
        var downloadLink = document.createElement("a");
        downloadLink.download = filename;
        downloadLink.href = window.URL.createObjectURL(csvFile);
        downloadLink.style.display = "none";
        document.body.appendChild(downloadLink);
        downloadLink.click();
    }

    function exportToPdf() {
        var table = document.getElementById("dataTableBasic");
        var rows = table.querySelectorAll("tr");
        var bodyData = [];

        for (var i = 0; i < rows.length; i++) {
            var row = [];
            var cols = rows[i].querySelectorAll("td, th");
            for (var j = 0; j < cols.length; j++) {
                row.push({ text: cols[j].innerText, style: 'tableData' });
            }
            bodyData.push(row);
        }

        var docDefinition = {
            content: [
                { text: 'Threat Analysis', style: 'header' },
                {
                    table: {
                        headerRows: 1,
                        body: bodyData
                    }
                }
            ],
            styles: {
                header: {
                    fontSize: 18,
                    bold: true,
                    margin: [0, 0, 0, 10]
                },
                tableData: {
                    margin: [0, 5, 0, 5]
                }
            },
            defaultStyle: {
                font: 'Roboto'
            }
        };

        // Load the fonts
        pdfMake.createPdf(docDefinition).download('threat_analysis.pdf');
    }
        </script>
        
    </body>
</html>
